@import url("https://fonts.googleapis.com/css2?family=Pattaya&display=swap");
h1, h2 {
  font-weight: normal;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  display: inline-block;
  margin: 0 10px;
}

a {
  color: inherit;
}

.mix-yellow {
  background: linear-gradient(-45deg, #DA22FF, #9733EE);
}

.mix-blue {
  background: linear-gradient(-45deg, #FFB75E, #ED8F03);
}

.mix-red {
  background: linear-gradient(-45deg, #4776E6, #8E54E9);
}

.mix-violet {
  background: linear-gradient(-45deg, #FF512F, #DD2476);
}

.text-muted-max {
  color: #a6a6a6;
}

header {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  margin: 0;
}
header nav {
  position: fixed !important;
  background-color: whitesmoke;
  top: 0px;
  left: 0px;
  width: 100%;
  z-index: 9999;
  overflow: hidden;
  transition: background-color 0.5s linear;
}
header nav h1 {
  color: #ff2e17;
  font-family: "Pattaya", sans-serif;
}
header nav #navbarNav {
  justify-content: flex-end;
}
header nav #navbarNav a.nav-link {
  font-family: "Montserrat", sans-serif;
  transition: 0.3s ease;
  color: gray;
  font-size: 0.9rem;
}
header nav #navbarNav a.nav-link:hover {
  color: #FF4530;
}
header nav #navbarNav a.nav-link .fa {
  color: #FF4530;
}
header #hslider .carousel-indicators > li {
  width: 0.9rem;
  height: 0.9rem;
  border-radius: 20px;
}
header #hslider .carousel-inner .carousel-item img {
  height: 100vh;
}
header #hslider .carousel-inner .carousel-item .carousel-caption {
  bottom: 40%;
  font-family: "Pacifico", cursive !important;
}
header #hslider .carousel-inner .carousel-item .carousel-caption h5 {
  font-size: 3rem;
}
header .sponsors {
  background-color: #e6e6e6;
  color: gray;
  text-align: center;
}
header .sponsors ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 20px;
}
header .sponsors ul li {
  margin: 5px 10px;
}

main #welcome {
  padding: 4rem 0;
}
main #welcome h4, main #welcome p {
  font-weight: 400;
}
main #welcome > p.h5 {
  font-size: 1.1rem;
}
main #welcome ul {
  flex-direction: row;
  justify-content: center;
  position: relative;
  margin-top: 3rem;
}
main #welcome ul li {
  width: 300px;
  border: none;
}
main #welcome ul li .fa {
  padding: 25px;
  border-radius: 5px;
  font-size: 2rem;
  color: white;
}

@media (min-width: 991.98px) {
  header nav {
    background-color: transparent;
  }
  header nav #navbarNav a.nav-link {
    color: white;
  }
}