@import url("https://fonts.googleapis.com/css2?family=Pattaya&display=swap");
@import url("https://fonts.googleapis.com/css?family=Pacifico");
h1, h2, h3, h4, h5, h6 {
  font-family: "Open Sans", sans-serif;
  font-weight: normal;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  display: inline-block;
  margin: 0 10px;
}

a {
  color: inherit;
  text-decoration: none;
}

.img {
  max-width: 100%;
}

.row {
  --bs-gutter-x: 0!important;
}

.mix-yellow {
  background: linear-gradient(-45deg, #DA22FF, #9733EE);
}

.mix-blue {
  background: linear-gradient(-45deg, #FFB75E, #ED8F03);
}

.mix-red {
  background: linear-gradient(-45deg, #4776E6, #8E54E9);
}

.mix-violet {
  background: linear-gradient(-45deg, #FF512F, #DD2476);
}

.mix-grad-bora {
  background: linear-gradient(45deg, #2BC0E4, #EAECC6);
}

.text-muted-max {
  color: #a6a6a6;
}

.color-success {
  color: #5cb85c !important;
}

.color-blue {
  color: #3dace1 !important;
}

.color-cyan {
  color: #1abc9c !important;
}

.color-yellow {
  color: #ffc501 !important;
}

.btn-blue {
  color: white;
  background-color: #3dace1;
}

.btn-green {
  color: white;
  background-color: #1abc9c;
}

.ico-android {
  color: #b2cc71;
}

.ico-apple {
  color: #414f5f;
}

.ico-windows {
  color: #FF4530;
}

.btn-android {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #b2cc71 !important;
  color: white !important;
  border-bottom: 5px solid #728b32;
}
.btn-android:hover {
  border-bottom: 3px solid #728b32;
}

.btn-ios {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #414f5f !important;
  color: white !important;
  border-bottom: 5px solid #0d1013;
}
.btn-ios:hover {
  border-bottom: 3px solid #0d1013;
}

.btn-windows {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #FF4530 !important;
  color: white !important;
  border-bottom: 5px solid #b01200;
}
.btn-windows:hover {
  border-bottom: 3px solid #b01200;
}

.small-line {
  padding: 0 30px;
  border-bottom: 3px solid #FF4530;
}

a.btn {
  font-family: "Montserrat", sans-serif !important;
}

header {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  margin: 0;
}
header nav {
  position: fixed !important;
  background-color: white;
  top: 0px;
  left: 0px;
  width: 100%;
  z-index: 9999;
  overflow: hidden;
  transition: background-color 0.5s linear;
}
header nav h1 {
  color: #FF4530;
  font-family: "Pattaya", sans-serif;
}
header nav #navbarNav {
  justify-content: flex-end;
}
header nav #navbarNav a.nav-link {
  font-family: "Montserrat", sans-serif;
  transition: 0.3s ease;
  color: gray;
  font-size: 0.9rem;
}
header nav #navbarNav a.nav-link:hover {
  color: #FF4530;
}
header nav #navbarNav a.nav-link .fa {
  color: #FF4530;
}
header #hslider .carousel-indicators > li {
  width: 0.9rem;
  height: 0.9rem;
  border-radius: 20px;
}
header #hslider .carousel-inner .carousel-item img {
  height: 100vh;
}
header #hslider .carousel-inner .carousel-item .carousel-caption {
  bottom: 40%;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
header #hslider .carousel-inner .carousel-item .carousel-caption h5 {
  font-size: 3rem;
}
header #sponsors {
  background-color: #f5f7f9;
  color: gray;
  text-align: center;
}
header #sponsors ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 25px 0;
}
header #sponsors ul li {
  margin: 5px 10px;
}
header #sponsors ul li img {
  transition: opacity 0.3s ease;
  max-width: 100%;
}
header #sponsors ul li img:hover {
  opacity: 0.5;
}

main #welcome {
  padding: 4rem 0;
}
main #welcome h4,
main #welcome p {
  font-weight: 400;
}
main #welcome > p.h5 {
  font-size: 1.1rem;
}
main #welcome ul {
  flex-direction: row;
  justify-content: center;
  position: relative;
  margin-top: 3rem;
}
main #welcome ul li {
  width: 300px;
  border: none;
}
main #welcome ul li .fa {
  padding: 25px;
  border-radius: 5px;
  font-size: 2rem;
  color: white;
}
main #statistics {
  background: url("/src/assets/img/bg-imgs/bg-wood.jpg") 100% 100% repeat-x #414f5f;
  text-align: center;
  color: white;
  padding: 3rem 3rem 0 3rem;
  box-sizing: border-box;
}
main #statistics .head-block .fa {
  padding: 25px;
  border-radius: 5px;
}
main #statistics .body-block .ico-group .fa {
  margin-right: 1rem;
}
main #statistics .footer-block img {
  max-width: 100%;
}
main #download-app {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 20px;
}
main #download-app .btn {
  text-transform: uppercase;
  font-size: 0.9rem;
}
main #download-app .btn:hover {
  color: white !important;
  opacity: 0.8;
}
main #buy-product {
  background-color: #f5f7f9;
  color: gray;
  text-align: center;
  padding: 3rem 0;
}
main #buy-product h3 {
  color: black;
}
main #buy-product .product-group {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 40px 0;
}
main #buy-product .product-group li.product {
  box-shadow: 0 0 5px 1px rgba(128, 128, 128, 0.233);
  background-color: white;
  padding: 20px;
  box-sizing: border-box;
  transition: box-shadow 0.5s;
}
main #buy-product .product-group li.product:hover {
  box-shadow: 0 0 20px 3px rgba(128, 128, 128, 0.233);
}
main #buy-product .product-group li.product:nth-child(even) {
  box-shadow: 0 0 10px 2px rgba(128, 128, 128, 0.26);
}
main #buy-product .product-group li.product .product-header h4 {
  font-family: "Pacifico", cursive;
  color: black;
}
main #buy-product .product-group li.product .product-footer {
  position: relative;
  padding: 30px;
}
main #company-rating {
  background-color: #323A45;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  padding: 6rem 0;
  color: white;
}
main #company-rating .company-body .our-ratings {
  text-transform: uppercase;
  margin-bottom: 2rem;
  position: relative;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
main #company-rating .company-body .our-ratings > .col-6 div {
  margin: 3rem 0;
}
main #company-rating .company-body .our-ratings span {
  color: lightgreen;
  font-size: 4.5rem;
  font-weight: 300;
  line-height: 1.2;
}
main #company-rating .company-body .our-ratings p {
  font-size: 0.8rem;
  color: #676767;
}
main #company-rating .company-body .our-ratings .map {
  position: relative;
}
main #company-rating .company-footer .row {
  justify-content: center;
}
main #company-rating .company-footer a.btn {
  background-color: #b2cc71;
  color: white;
  width: 150px;
}
main #app-features {
  background: linear-gradient(-45deg, #DA22FF, #ff5c4a);
  color: white;
  padding: 6rem 0;
}
main #app-features .features-header {
  text-align: center;
}
main #app-features .features-body {
  position: relative;
  margin-top: 4rem;
}
main #app-features .features-body .features-group div > div:first-child {
  align-items: flex-end;
}
main #app-features .features-body .features-group div > div:last-child {
  align-items: flex-start;
}
main #app-features .features-body .features-group div > div {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 3rem;
}
main #app-features .features-body .features-group div > div span {
  display: flex;
  align-items: center;
  font-size: 1.3rem;
  font-weight: 400;
}
main #app-features .features-body .features-group div > div span i {
  margin: 0 20px;
}
main #app-features .features-body .features-group div > div p {
  max-width: 40%;
  font-size: 0.9rem;
}
main #app-features .features-body .features-group .app-img {
  text-align: center;
  position: relative;
}
main #app-features .features-body .features-group .app-img img {
  max-width: 100%;
}
main #app-photo {
  padding: 6rem 0;
  box-shadow: 0 0 70px 3px rgba(128, 128, 128, 0.39);
}
main #app-photo .photo-header {
  text-align: center;
}
main #app-photo .photo-body {
  padding-top: 3rem;
}
main #app-photo .photo-body .VueCarousel-slide {
  transition: transform 0.3s;
}
main #app-photo .photo-body .VueCarousel-slide:hover {
  transform: scale(0.9);
}
main #our-team {
  padding: 6rem 0;
  background-color: #f5f7f9;
  box-shadow: 0 0 10px 1px rgba(128, 128, 128, 0.39);
}
main #our-team .team-header {
  text-align: center;
}
main #our-team .team-body {
  padding-top: 3rem;
}
main #our-team .team-body .team-list {
  justify-content: center;
}
main #our-team .team-body .team-list .card-item {
  position: relative;
  padding: 2rem 0;
  width: 100%;
  text-align: center;
  background-color: white;
  border-bottom: 2px solid rgba(128, 128, 128, 0.164);
  border-radius: 5px;
}
main #our-team .team-body .team-list .card-item:hover {
  animation: vibration 0.3s ease 2;
}
main #our-team .team-body .team-list .card-item .header-card h5 {
  margin: 0;
}
main #our-team .team-body .team-list .card-item .header-card small {
  color: #ff7363;
  font-size: 0.9rem;
}
main #our-team .team-body .team-list .card-item .body-card img {
  border: 10px solid #d9d9d9;
  width: 150px;
  height: 150px;
}
main #our-team .team-body .team-list .card-item .footer-card .social-group li {
  border: 1px solid rgba(128, 128, 128, 0.479);
  border-radius: 2px;
  padding: 4px 7px;
  margin: 0;
}
main #our-team .team-body .team-list .card-item .footer-card .social-group li a {
  color: grey;
  font-size: 0.9rem;
  transition: color 0.3s ease;
}
main #our-team .team-body .team-list .card-item .footer-card .social-group li a:hover {
  color: #FF4530;
}
main #our-team .team-footer {
  text-align: center;
}
main #our-team .team-footer .text {
  font-family: "Pacifico", cursive !important;
  color: #5a5a5a;
}
main #our-team .team-footer a.btn {
  text-transform: uppercase;
  background-color: #3dace1;
  color: white;
  font-size: 0.8rem;
  padding: 0.7rem 1.3rem;
}
main #question-answer {
  padding: 6rem 0;
  color: white;
  text-align: center;
  justify-content: center;
}
main #question-answer p > a {
  transition: color 0.3s ease;
}
main #question-answer p > a:hover {
  color: white !important;
}
main #question-answer #accordionQuestion .accordion-item {
  margin-bottom: 5px;
}
main #question-answer #accordionQuestion .accordion-item button {
  color: #4d4d4d;
  background-color: white;
  border-radius: 8px;
}
main #question-answer #accordionQuestion .accordion-item .accordion-body {
  background-color: white;
  color: gray;
  border-radius: 0 0 10px 10px;
  width: 98.5%;
  margin: auto;
}

@media (min-width: 991.98px) {
  main #buy-product .product-group .product:nth-child(even) {
    transform: scale(1.1);
  }
  main #app-features .features-body {
    position: relative;
  }
  main #app-features .features-body .features-group div > div {
    display: flex;
    flex-direction: column;
    align-items: center !important;
    margin-top: 3rem;
  }
  main #app-features .features-body .features-group div > div span {
    font-size: 1.4rem;
  }
  main #app-features .features-body .features-group div > div span i {
    margin: 0 20px;
  }
  main #app-features .features-body .features-group div > div p {
    max-width: 40%;
  }
  main #app-features .features-body .features-group .app-img {
    text-align: center;
    position: absolute;
    top: -40px;
    left: -5px;
  }
  main #app-features .features-body .features-group .app-img img {
    max-width: 40%;
  }
  main #our-team .team-body .team-list .card-item {
    width: 31%;
  }
}
@media (min-width: 1199.98px) {
  main #company-rating .company-body .our-ratings .map {
    position: absolute;
    transform: scale(0.8);
  }
  main #our-team .team-body .team-list .card-item {
    width: 20%;
  }
}
@keyframes vibration {
  0% {
    top: 0;
  }
  50% {
    top: 4px;
  }
  70% {
    top: 0px;
  }
  100% {
    top: -4px;
  }
}